/node_modules
/public/dist/*
/logs/*
/config/
config_path.txt
/client

# MISC
.DS_Store
.env
.env.local
.env.staging
.env.production
.vscode/*


/sample_configs
/sql



# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
