/node_modules
/public/dist/*
/logs/*
/config/
config_path.txt

# MISC
.DS_Store
.env
.vscode/*


/sample_config
/sql

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
